<div class="main-card">
    <mat-card class="example-card">
        <mat-card-content>
                <p>Welcome to the Change Password page!</p>
            <form>
                <input class="auth" type="text" id="email" name="email" placeholder="E-mail"><br>
                <input class="auth" type="password" id="oldpassword" name="oldpassword" placeholder="Old Password"><br>
                <input class="auth" type="password" id="password" name="password" placeholder="New Password"><br>
                <input class="auth" type="password" id="newpassword" name="newpassword" placeholder="Confirm New Password"><br><br>    
                <input type="submit" value="Submit" >
            </form>
        </mat-card-content>
    </mat-card>
</div>