<div class="toolbar" role="banner">
  <img class="logo" src="assets/parking-area.png" />
  <h1>Find&Park</h1>
  <div class="spacer"></div>

  <ul>
    <li *ngIf="getLanguage()=='EN'"><a routerLink="/profile" routerLinkActive="active">My Profile</a></li>
    <li *ngIf="getLanguage()=='AL'"><a routerLink="/profile" routerLinkActive="active">Profili Im</a></li>
    <li *ngIf="getLanguage()=='MK'"><a routerLink="/profile" routerLinkActive="active">Мој Профил</a></li>

    <li *ngIf="getLanguage()=='EN'"><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li *ngIf="getLanguage()=='AL'"><a routerLink="/home" routerLinkActive="active">Faqja Fillestare</a></li>
    <li *ngIf="getLanguage()=='MK'"><a routerLink="/home" routerLinkActive="active">Почетна страна</a></li>

    <li *ngIf="getLanguage()=='EN'"><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li *ngIf="getLanguage()=='AL'"><a routerLink="/about" routerLinkActive="active">Për ne</a></li>
    <li *ngIf="getLanguage()=='MK'"><a routerLink="/about" routerLinkActive="active">За нас</a></li>


   
    <li *ngIf="getLanguage()=='EN'"><a routerLink="/help" routerLinkActive="active">Help</a></li>
    <li *ngIf="getLanguage()=='AL'"><a routerLink="/help" routerLinkActive="active">Ndihmë</a></li>
    <li *ngIf="getLanguage()=='MK'"><a routerLink="/help" routerLinkActive="active">Помош</a></li>

    <li *ngIf="getLanguage()=='EN'"><a routerLink="/auth/login" routerLinkActive="active">Log In</a></li>
    <li *ngIf="getLanguage()=='AL'"><a routerLink="/auth/login" routerLinkActive="active">Hyrje</a></li>
    <li *ngIf="getLanguage()=='MK'"><a routerLink="/auth/login" routerLinkActive="active">Најава</a></li>

    <li *ngIf="getLanguage()=='EN'"><a routerLink="/auth/register" routerLinkActive="active">Register</a></li>
    <li *ngIf="getLanguage()=='AL'"><a routerLink="/auth/register" routerLinkActive="active">Regjistrim</a></li>
    <li *ngIf="getLanguage()=='MK'"><a routerLink="/auth/register" routerLinkActive="active">Регистрирање</a></li>

    <li>
        <select [ngModel]="selectLanguage" (ngModelChange)="onChange($event)" >
          <option [value]="i" *ngFor="let i of languages">{{i}}</option>
      </select>
    </li>
  </ul>
</div>

<div id="footer">
  <div class="images">
    <img src="https://cdn-icons.flaticon.com/png/512/739/premium/739237.png?token=exp=1638741899~hmac=1a0230d8b3ebb9cc9c714bc5e3c7910d">
    <img src="https://cdn-icons.flaticon.com/png/512/739/premium/739244.png?token=exp=1638741982~hmac=006807a10875ea6c57e24a4c474fc8ba">
    <img src="https://cdn-icons-png.flaticon.com/512/220/220375.png">
    <img src="https://cdn-icons.flaticon.com/png/512/3488/premium/3488326.png?token=exp=1638742027~hmac=bc9d2c8819de0ad5f203ce14dc3dc159">
    <img src="https://cdn-icons-png.flaticon.com/512/546/546394.png">
  </div>
</div>
<router-outlet></router-outlet>