<div class="toolbar" role="banner">
  <img class="logo" src="assets/parking-area.png" />
  <h1>Find&Park</h1>
  <div class="spacer"></div>

  <ul>
    <li><a routerLink="/profile" routerLinkActive="active">My Profile</a></li>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/help" routerLinkActive="active">Help</a></li>
    <li><a routerLink="/auth/login" routerLinkActive="active">Log In</a></li>
    <li><a routerLink="/auth/register" routerLinkActive="active">Register</a></li>
    <li><a routerLinkActive="active">EN</a></li>

  </ul>
</div>

<div id="footer">
  <div class="images">
    <img src="assets/facebookicon.png">
    <img src="assets/instagramicon.png">
    <img src="assets/twittericon.png">
    <img src="assets/linkedinicon.png">
    <img src="assets/mailicon.png">
  </div>
</div>
<router-outlet></router-outlet>