#map{
    height: 60vh;
    width: 80vh;
    margin: auto;
    top: 20%;
    border-radius: 3%;
}

.main-card {
    color: #fff;
    background-image: url("https://i.dailymail.co.uk/i/pix/2016/08/25/20/379542C700000578-0-image-a-34_1472154226557.jpg");
    background-size: 100%;
    background-size: cover;
    height: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
