<div class="main-card">
    <mat-card class="example-card">
        <mat-card-content>
            <p *ngIf="getLanguage()=='EN'">Welcome to the Register page!</p>
            <p *ngIf="getLanguage()=='AL'">Mirësevini në faqen e regjistrimit!</p>
            <p *ngIf="getLanguage()=='MK'">Добродојдовте на страната за регистрирање!</p> 
            <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
                <input class="auth" type="text" formControlName="email" placeholder="E-mail" autocomplete="off"><br>
                <div class="errorMsg"
                    *ngIf="isSubmitted && registerForm.controls['email'].errors?.['required'] && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                    E-mail is required.
                </div>
                <div class="errorMsg"
                    *ngIf="isSubmitted && registerForm.controls['email'].errors?.['email'] && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                    A valid e-mail is required.
                </div>
                <input class="auth" type="username" formControlName="username" placeholder="Username"
                    autocomplete="off"><br>
                <div class="errorMsg"
                    *ngIf="isSubmitted && registerForm.controls['username'].errors?.['required'] && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)">
                    Username is required.
                </div>
                <input class="auth" type="password" formControlName="password" placeholder="Password"><br>
                <div class="errorMsg"
                    *ngIf="isSubmitted && registerForm.controls['password'].errors?.['required'] && (registerForm.controls['password'].dirty ||registerForm.controls['password'].touched)">
                    Password is required.
                </div>
                <div class="errorMsg"
                    *ngIf="isSubmitted && registerForm.controls['password'].errors?.['pattern'] && (registerForm.controls['password'].dirty ||registerForm.controls['password'].touched)">
                    The password must be longer than six characters, and include letter and numbers.
                </div>
                <input class="auth" type="password" formControlName="confirmPassword"
                    placeholder="Confirm Password"><br>

                <div class="errorMsg"
                    *ngIf="isSubmitted && registerForm.controls['confirmPassword'].errors?.['required'] && (registerForm.controls['confirmPassword'].dirty ||registerForm.controls['confirmPassword'].touched)">
                    Password confirmation is required.
                </div>
                <div class="errorMsg"
                    *ngIf="isSubmitted && (registerForm.controls['password'].value !== registerForm.controls['confirmPassword'].value) && (registerForm.controls['confirmPassword'].dirty ||registerForm.controls['confirmPassword'].touched)">
                    The passwords must match.
                </div>
                <br>
                <input  *ngIf="getLanguage()=='EN'" type="submit" value="Register">
                <input  *ngIf="getLanguage()=='AL'" type="submit" value="Regjistrohu">
                <input  *ngIf="getLanguage()=='MK'" type="submit" value="Регистрирај се">
            </form>
        </mat-card-content>
    </mat-card>
</div>