<div class="main-card">
    <mat-card class="example-card">
        <mat-card-content>
            <p>Welcome to the Change Password page!</p>
            <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">
                <input class="auth" placeholder="Old Password" type="password" formControlName="oldpassword"
                    autocomplete="off"> <br>
                <div class="errorMsg" 
                    *ngIf="isSubmitted && changePasswordForm.controls['oldpassword'].errors?.['required'] && (changePasswordForm.controls['oldpassword'].dirty || changePasswordForm.controls['oldpassword'].touched)">
                    Old password is required.
                </div>
                <input class="auth" placeholder="New Password" type="password" formControlName="newpassword"><br>
                <div class="errorMsg"
                    *ngIf="isSubmitted && changePasswordForm.controls['newpassword'].errors?.['required'] && (changePasswordForm.controls['newpassword'].dirty ||changePasswordForm.controls['newpassword'].touched)">
                    New password is required.
                </div>
                <div class="errorMsg"
                    *ngIf="isSubmitted && changePasswordForm.controls['newpassword'].errors?.['pattern'] && (changePasswordForm.controls['newpassword'].dirty ||changePasswordForm.controls['newpassword'].touched)">
                    The new password must be longer than six characters, and include letter and numbers.
                </div>
                <input class="auth" placeholder="Confirm New Password" type="password"
                    formControlName="confirmnewpassword" autocomplete="off"> <br>
                <div class="errorMsg"
                    *ngIf="isSubmitted && changePasswordForm.controls['confirmnewpassword'].errors?.['required'] && (changePasswordForm.controls['confirmnewpassword'].dirty || changePasswordForm.controls['confirmnewpassword'].touched)">
                    New password confirmation is required.
                </div>
                <div class="errorMsg"
                    *ngIf="isSubmitted && (changePasswordForm.controls['newpassword'].value !== changePasswordForm.controls['confirmnewpassword'].value) && (changePasswordForm.controls['confirmnewpassword'].dirty ||changePasswordForm.controls['confirmnewpassword'].touched)">
                    The passwords must match.
                </div>
                <br>
                <input type="submit" value="Submit">
            </form>
        </mat-card-content>
    </mat-card>
</div>