<div class="main-card">
    <mat-card class="example-card">
        <mat-card-content>
                <p>Write your e-mail to reset your password!</p>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
                <input class="auth" placeholder="New Password" type="password" formControlName="newpassword"><br>
                <div class="errorMsg"
                    *ngIf="isSubmitted && forgotPasswordForm.controls['newpassword'].errors?.['required'] && (forgotPasswordForm.controls['newpassword'].dirty ||forgotPasswordForm.controls['newpassword'].touched)">
                    New password is required.
                </div>
                <div class="errorMsg"
                    *ngIf="isSubmitted && forgotPasswordForm.controls['newpassword'].errors?.['pattern'] && (forgotPasswordForm.controls['newpassword'].dirty ||forgotPasswordForm.controls['newpassword'].touched)">
                    The new password must be longer than six characters, and include letter and numbers.
                </div>
                <input class="auth" placeholder="Confirm New Password" type="password"
                    formControlName="confirmnewpassword" autocomplete="off"> <br>
                <div class="errorMsg"
                    *ngIf="isSubmitted && forgotPasswordForm.controls['confirmnewpassword'].errors?.['required'] && (forgotPasswordForm.controls['confirmnewpassword'].dirty || forgotPasswordForm.controls['confirmnewpassword'].touched)">
                    New password confirmation is required.
                </div>
                <div class="errorMsg"
                    *ngIf="isSubmitted && (forgotPasswordForm.controls['newpassword'].value !== forgotPasswordForm.controls['confirmnewpassword'].value) && (forgotPasswordForm.controls['confirmnewpassword'].dirty ||forgotPasswordForm.controls['confirmnewpassword'].touched)">
                    The passwords must match.
                </div>
                <br>
                <input type="submit" value="Submit">
            </form>
        </mat-card-content>
    </mat-card>
</div>